<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mój Dokument HTML</title>
  <style>
    /* Dodaj tutaj swoje style CSS, jeśli są potrzebne */
  </style>
</head>
<body>
<header>

  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</header>

<main>
  <section>
    <h2>O mnie</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique felis eu orci vestibulum, at consectetur ex posuere. Proin vel aliquet metus. Sed auctor libero euismod enim fermentum, id vulputate nisi tempor.</p>
  </section>

  <section>
    <h2>Kontakt</h2>
    <p>Skontaktuj się ze mną poprzez <a href="mailto:kontakt@example.com">e-mail</a> lub odwiedź mnie na <a href="https://www.example.com">mojej stronie internetowej</a>.</p>
  </section>
</main>

<footer>
  <div class="footer-container">
    <div class="footer-left">
      <p>&copy; 2023 Moja Strona</p>
    </div>
    <div class="footer-right">
      <table class="footer-table">
        <tr>

          <td>
            <ul class="social-media-icons" >
              <li><a href="https://www.facebook.com/"> Facebook </a><mat-icon>facebook</mat-icon></li>
              <li><a href="https://www.twitter.com/"> Likes </a><mat-icon>thumb_up</mat-icon></li>
              <li><a href="https://www.instagram.com/"> User </a><mat-icon>verified_user</mat-icon></li>
            </ul>
          </td>
          <td style="width: 40%; text-align: left">
            <b>Lorem ipsum</b><br><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rutrum fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tristique neque lectus, in semper arcu cursus in.
          </td>
        </tr>
      </table>


    </div>
  </div>
</footer>
</body>
</html>
