<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>
<body>
<header>

  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    Your Forecast
    <span class="example-spacer"></span>

  </mat-toolbar>

  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item>Super Opcja 1</button>
    <button mat-menu-item>Super Opcja 2</button>
    <button mat-menu-item>Super Opcja 3</button>
  </mat-menu>


</header>

<main>
  <section>
    <h1>Aktualna pogoda <mat-icon [inline]="true" class="my-custom-icon-class">today</mat-icon></h1>
    <table class="table-of-forecast">
      <tr>
        <td>temperatura</td>
        <td>19 C</td>
      </tr>
      <tr>
        <td>ciśnienie</td>
        <td>1010 hPa</td>
      </tr>
      <tr>
        <td>wiatr</td>
        <td>32 km/h</td>
      </tr>
      <tr>
        <td>odczuwalna temperatura</td>
        <td>14°C</td>
      </tr>
      <tr>
        <td>lokalizacja</td>
        <td id="location">{{ locationMessage }}</td>
      </tr>
    </table>
  </section>
  <section>
    <h1>Pogoda jutro <mat-icon [inline]="true" class="my-custom-icon-class">timeline</mat-icon></h1>
    <app-forecasttable></app-forecasttable>
  </section>
  <section>
    <h1>Pogoda następnego dnia <mat-icon [inline]="true" class="my-custom-icon-class">timeline</mat-icon></h1>
    <app-forecasttable></app-forecasttable>
  </section>
  <section>
    <h1>Pogoda pojutrze <mat-icon [inline]="true" class="my-custom-icon-class">timeline</mat-icon></h1>
    <app-forecasttable></app-forecasttable>
  </section>
</main>

<footer>
  <div class="footer-container">
    <div class="footer-left">
      <p>&copy; 2023 Projekt na zaliczenie</p>
    </div>
    <div class="footer-right">
      <table class="footer-table">
        <tr>
          <td>
            <ul class="social-media-icons" >
              <li><a href="https://www.facebook.com/"> Facebook </a><mat-icon>facebook</mat-icon></li>
              <li><a href="https://www.twitter.com/"> Likes </a><mat-icon>thumb_up</mat-icon></li>
              <li><a href="https://www.instagram.com/"> User </a><mat-icon>verified_user</mat-icon></li>
            </ul>
          </td>
          <td style="width: 40%; text-align: left">
            <b>Lorem ipsum</b><br><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rutrum fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tristique neque lectus, in semper arcu cursus in.
          </td>
        </tr>
      </table>
    </div>
  </div>
</footer>
</body>
</html>
